<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="org.eduardosoares.edusoaresapp"
        version="1.0.0">

    <name>
            Menu Restaurante
    </name>

    <description>
        Menu do restaurante
    </description>

    <author href="https://github.com/Eddusr" email="eduardo.rosa8@fatec.sp.gov.br">
        Eduardo Soares
    </author>

    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />

    <preference name="android-minSdkVersion" value="16" />
    <platform name="android" />

    <icon src="icon.png" />
    <plugin name="cordova-plugin-splashscreen" />
    <splash src="splash.png" />

</widget>
